a:hover, :link, :active, :visited {
  font-style: none;
  text-decoration: none;
}

.recipes-lib {
  background: #2f2f35;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  margin-top: 10vh;
  min-height: 80vh;
}

.recipes-lib a {
  margin-top: -2em;
  transform: scale(0.8);
}

.card {
  background: none;
  border: none;
}

.card:after {
  background: linear-gradient(90deg, #ff8b20, #ff8c20a1);
  border-radius: 100px 4px 100px 30px;
  bottom: 0;
  box-shadow: 0 0 5px -1px black;
  content: '';
  height: 80%;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 100%;
  z-index: -1;
}

.bebidas:after {
  background: linear-gradient(90deg, #0189be, #00d1f68c);
  border-radius: 100px 4px 100px 30px;
  bottom: 0;
  box-shadow: 0 0 5px -1px black;
  content: '';
  height: 80%;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 100%;
  z-index: -1;
}

.card:hover:after {
  background: linear-gradient(90deg, #ff8b20, #ff8c20a1);
  bottom: 0;
  box-shadow: 0 0 5px -1px black;
  content: '';
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 100%;
  z-index: -1;
}

.bebidas:hover:after {
  background: linear-gradient(90deg, #0189be, #00d1f68c);
  bottom: 0;
  box-shadow: 0 0 5px -1px black;
  content: '';
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 100%;
  z-index: -1;
}

.card img {
  border-radius: 50px;
  box-shadow: 0 0 5px -1px black;
  transform: scale(0.85);
  transition: 0.2s;
}

.card img:hover {
  border-radius: 50px;
  box-shadow: 0 0 5px -1px black;
  transform: scale(0.86);
  transition: 0.2s;
}


.card h3 {
  color: rgba(0, 0, 0, 0.534);
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  transform: scale(0.9);
}

/* .card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column-reverse;
  transform: scale(0.85);
  transition: 0.2s;
  width: 100%;

}

.card:hover {
  transform: scale(0.9);
  transition: 0.2s;
}

.card img {
  border-radius: 10px;
  margin-top: -1em;
  transform: scale(0.9);
}

.card h3 {
  color: rgba(0, 0, 0, 0.575);
  font-weight: 800;
  margin-top: 1em;
  text-align: center;
  transform: scale(0.9);
} */
